*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.d-flex{
    display: flex;
}
/* END Utility*/
body{
    font-family: sans-serif;
}

.navbar{
    width: 90vw;
    height: 60px;
    margin: auto;
}

.navbar a{
    text-decoration: none;
    color: #a8aeb4;
}

.navbar a.active{
    color: black;
}

.navbar > div {
    line-height: 60px;
}

.navbar ul{
    list-style: none;
}

.navbar > div > ul > li{
    height: 60px;
    padding: 0 20px;
    display: inline-block;
}

#logo{
    width: 100px;
    position: relative;
}

#logo img{
    width: 100%;
    position: absolute;
    top: 15px;
    padding-right: 10px;
}

.navbar a.btn{
    background-color: #eb008d;
    padding: 12px;
    border-radius: 30px;
    color: white;
}

/* Sezione topics-menu */
.topics-menu{
    margin-left: auto;
    margin-right: 10px;
}

.topic{
    position: relative;
}

.sub-menu{
    width: 180px; 
    position: absolute;
    box-shadow:  0 0 12px  grey;
    transform: translateX(-40%);
    border-radius: 5px;
    display: none;
}

.sub-menu > ul{
    width: 100%;
}
.sub-menu > ul> li{
    text-align: center;
}

.big-menu{
    width: 400px;
}

.big-menu > ul {
    width: 50%;
}